@CHARSET "UTF-8";

body {

  margin:0;

  padding:0;

  background:#e0e0e0;

}

#drawing {
         -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        /* pointer-events: none;
		cursor: default; */
      }
	  
/* .drawing::selection { */
    /* background: none; */
/* } */